@import "styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;
}

main {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px;

    .menu-options {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      a {
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          color: $color-primary;
          transition: all 200ms;
        }
      }
    }

    button {
      border-radius: 24px;
      border: none;
      font-weight: 600;
      font-size: 16px;
      background-color: transparent;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;        
        padding: 16px 24px;
        border-radius: 24px;
        border: none;
        height: 100%;
        width: 100%;
      }

      .btn-face-white {
        color: rgb(51, 51, 51);
        background-color: white;
      }
      
      .btn-face-purple {
        background-color: $color-primary;
        color: white;
        display: none;
      } 

      &:hover {
      .btn-face-white {
        display: none;
      }
      
      .btn-face-purple {
        display: flex;
      } 
      }
  }
}

@keyframes appear {
  from {
  }

  to {
  }
}